body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    background: #ecf0f3;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.between {
    justify-content: space-between;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.text-center {
    text-align: center;
}

.mr40 {
    margin-right: 40px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mt50 {
    margin-top: 50px;
}

.mt30 {
    margin-top: 30px;
}

.mb14 {
    margin-bottom: 14px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

.p40 {
    padding: 40px;
}

.font12 {
    font-size: 12px;
}

.dark-grey {
    color: #3c3e41;
}

.lighter-grey {
    color: #696f79;
}

.color-pink {
    color: #f9004d;
}

.with48 {
    width: 48%;
}

.nav-container a.active {
    background: #ff014f;
    color: white;
    border-radius: 12px;
}

.main-image {
    background-image: url("https://images.unsplash.com/photo-1550664890-c5e34a6cad31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    height: 260px;
    background-position: center right;
    background-repeat: no-repeat;
}

.container {
    margin: 0 150px;
}

.side-block {
    position: sticky;
    top: 0;
    bottom: 0;
    left: auto;
    width: 160px;
    margin-bottom: 20px;
}

.main-block {
    margin-left: 52px;
    width: 100%;
}

.card-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.header-style {
    margin-top: -100px;
}

.profile-img {
    width: 33%;
    margin-top: -70px;
    margin-right: 40px;
}

.profile-img img {
    border-radius: 14px;
    border: 5px solid #ecf0f3;
}

.left-side {
    position: relative;
}

.left-side:before {
    bottom: 0;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    background: #dce1e4;
}

.header-links {
    margin-top: 43px;
    margin-bottom: 32px;
}

.header-links a {
    text-decoration: none;
    color: rgba(0, 0, 0, .384);
    padding: 14px;
    background: linear-gradient(145deg, #e2e8ec, #fff);
    box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
    border-radius: 6px;
    margin-right: 20px;
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}

.header-links a:last-child {
    margin-right: 0;
}

.header-links a:hover {
    background: #ff014f;
    color: white;
    top: -5px;
}

.header-links .fab {
    height: 21px;
    width: 21px;
    text-align: center;
}

.right-side {
    margin-left: 50px;
}

.right-side .short-info h5 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0;
}

.right-side .short-info p {
    margin-top: 8px;
}

.content-container.card-container {
    padding: 40px;
}

.nav-container a {
    text-decoration: none;
    color: #3c3e41;
    padding: 40px;
    text-align: center;
}

.nav-container a:hover {
    background: #ff014f;
    color: white;
    border-radius: 12px;
}

.about-me img {
    border-radius: 12px;
}

.about-me .text-side p:first-child {
    color: #f9004d;
    text-transform: uppercase;
}

.about-me .text-side p {
    line-height: 28px;
}

.about-me button, .try-dark {
    text-transform: uppercase;
    cursor: pointer;
    color: #f9004d;
    margin-top: 20px;
    border: none;
    padding: 24px 33px;
    border-radius: 8px;
    position: relative;
    top: 0;
    transition: top ease 0.3s;
    background: linear-gradient(145deg, #e2e8ec, #fff);
    box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
}

.about-me button:hover, .try-dark:hover {
    top: -5px;
    color: white;
    background: #f9004d;
}

.doing-box {
    margin-top: 50px;
}

.about-side .doing-box .card {
    border-radius: 13px;
    padding: 35px 20px;
    text-align: center;
    border: 1px solid #00000040;
    margin-top: 20px;
}

.about-side .doing-box .card svg {
    width: 50px;
    height: 50px;
    stroke-width: 1px;
}

.about-side .our-clients .card {
    background: linear-gradient(145deg, #e2e8ec, #fff);
    box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
    border-radius: 10px;
    padding: 10px 20px;
    width: 22%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.about-side .our-clients .card .line {
    height: 1px;
    background: #7c838e;
    width: 100%;
}

.about-side .our-clients .card a {
    margin: 12px 0 4px 0;
    text-decoration: none;
    font-weight: 600;
}

.about-side .our-clients .card a:hover {
    color: #f9004d;
}

.about-side .our-clients .card img {
    padding: 27px 0 27px;
}

.our-clients {
    width: 100%;
}

.resume-card .box {
    background: linear-gradient(145deg, #e2e8ec, #fff);
    box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
    padding: 20px;
    border-radius: 12px;
}

.resume-card .box .rating {
    background: #fff;
    box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
    color: #ff014f;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: 500;
}

.resume-card .box .line {
    background: #d1d1d1;
    width: 100%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.work-card {
    background: linear-gradient(145deg, #e2e8ec, #fff);
    box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
    border-radius: 20px;
    padding: 30px;
}

.work-img img {
    border-radius: 12px;
}

.work-card a {
    text-decoration: none;
    color: #1e2125;
}

.work-card h3 {
    margin-top: 0;
}

.contact-box {
    background: linear-gradient(145deg, #e2e8ec, #fff);
    box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
    border-radius: 10px;
    padding: 30px;
}

.contact-box img {
    border-radius: 12px;
}

.form-box {
    background: linear-gradient(145deg, #e2e8ec, #fff);
    box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
    border-radius: 10px;
    padding: 30px;
}

.form-box form input {
    background-color: #fdfefe;
    border: 2px solid #d9d9d9;
    box-shadow: none;
    color: #3c3e41;
    border-radius: 6px;
    height: 46px;
    width: 100%;
}

.form-box form textarea {
    background-color: #fdfefe;
    border: 2px solid #d9d9d9;
    box-shadow: none;
    color: #3c3e41;
    border-radius: 6px;
    width: 100%;
}

.form-box form label {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 14px;
}

.form-box form button {
    background: linear-gradient(145deg, #e2e8ec, #fff);
    box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
    color: #ff014f;
    border: none;
    border-radius: 6px;
    padding: 15px 35px;
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}

.form-box form button:hover {
    top: -5px;
    color: white;
    background: #f9004d;
}

.blocks {
    display: none;
}

.blocks.active {
    display: flex;
}

footer img {
    margin: 0 auto;
    display: flex;
    width: 36%;
}

.loading-bar {
    display: flex;
    width: 90%;
    border-radius: 10px;
    background: #dce1e4;
    height: 7px;
    overflow: visible;
    padding: 3px;
}

.progress-bar {
    display: flex;
    height: 100%;
    background: linear-gradient(
            145deg, #fff 0, #f9004d 100%);
    border-radius: 14px;
}

.one {
    width: 95%;
}

.two {
    width: 85%;
}

.three {
    width: 60%;
}

.four {
    width: 70%;
}

.five {
    width: 90%;
}

.resume-side h6, span {
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
}

.resume-side h6 {
    margin-bottom: 14px;
    margin-top: 36px;
}

.bgDark {
    background: #1d1e24;
    color: white;
}

.bgDarkBlocks {
    background: #212428 !important;
    color: white !important;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e !important;
}

.btnDarkBg {
    background: linear-gradient(to right bottom, #212428, #16181c) !important;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e !important;
    color: white !important;
}

.whiteA {
    color: white !important;
}

.colorLight {
    color: #c4cfde;
}

.btnDarkBgPink {
    background: linear-gradient(to right bottom, #212428, #16181c) !important;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e !important;
    color: #ff014f !important;
}

.darkInput {
    background-color: #191b1e !important;
    border: 2px solid #191b1e !important;
    border-radius: 6px !important;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px hsla(0, 0%, 100%, 0.2) inset !important;
    color: #c4cfde !important;
}